.App {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-img-banner {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 13, 87);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 800px;
  margin: 20px;
}

.textField {
  width: 400px;
}

.btn {
  background-color: #2185d0;
  color: white;
  margin: 10px;
  height: 54px;
  width: 150px;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color, color 1s;
  outline: #188ee8;
  border: none;
}

.btn:hover{
  background-color: #6db6ed;
  color: black;
}